# azure-ai-agentserver-agentframework==1.0.0b10 # INCOMPATIBLE azure-ai-agentserver-agentframework 1.0.0b10 depends on agent-framework-azure-ai<=1.0.0b260107 and >=1.0.0b251112
agent-framework==1.0.0b260130
agent-framework-a2a==1.0.0b260130
agent-framework-ag-ui==1.0.0b260130
agent-framework-anthropic==1.0.0b260130
agent-framework-azure-ai==1.0.0b260130
agent-framework-azure-ai-search==1.0.0b260130
agent-framework-azurefunctions==1.0.0b260130
agent-framework-chatkit==1.0.0b260130
agent-framework-copilotstudio==1.0.0b260130
agent-framework-core==1.0.0b260130
agent-framework-declarative==1.0.0b260130
agent-framework-devui==1.0.0b260130
agent-framework-lab==1.0.0b251024
agent-framework-mem0==1.0.0b260130
agent-framework-ollama==1.0.0b260130
agent-framework-purview==1.0.0b260130
agent-framework-redis==1.0.0b260130
azure-monitor-opentelemetry==1.8.4
debugpy==1.8.20
agent-dev-cli==0.0.1b260205